* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Fredoka One', cursive;
    margin: 0 auto;
    padding: 80px 0;
    width: 1100px;
}


h1 {
    text-align: center;
    color: palevioletred;
}

.container {

    padding: 20px;

}

.textual {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: black;
    border: 1px solid red;
    color: white;
    width: calc(100% / 3);
    float: left;
    padding-bottom: 30px;

}

img {
    height: 100px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.worker {
    color:white;
    display: inline-block;
}

.name {
    color:white;
    display: inline-block;
}



.mail {
    color:lightskyblue
    display: inline-block;


}

.riga-sopra {

}

.riga-sotto {

}