* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Fredoka One', cursive;

}


h1 {
    text-align: center;
    color: palevioletred;
}

.container {

    padding: 20px;

}

.textual {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: black;
    border: 1px solid red;

}

img {
    height: 100px;
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.worker {
    color:white
}

.mail {
    color:lightskyblue
}